<%= form_with model: search, local: true, class: "form-group mb-3" do |form| %>
  <% if search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-md-4 col-md-offset-4">
    <%= form.text_field :artist, id: "artist-field", class: "form-control justify-content-center", 
    placeholder: "Artist", autocomplete: "off", onkeyup: "queryChange(this.value)" %>
  </div>

  <div class="field form-group col-md-4 col-md-offset-4 hide">
    <%= form.text_field :album, placeholder: "Album", class: "form-control" %>
  </div>

  <div class="actions col-md-1 col-centered">
    <%= button_tag "Search", id: "find-artist", class: "btn btn-success btn-lg" %>
  </div>

  <div class="actions col-md-1 col-centered hide">
    <%= form.submit "Search", id: "search-button", class: "btn btn-success btn-lg", disabled: true %>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    function queryChange(query) {
      $('#find-artist').prop('disabled', query.length == 0);
    }
  </script>
<% end %>
