<%= form_with model: search, local: true, class: "form-group mb-3" do |form| %>
  <% if search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :artist, placeholder: "Artist", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :album, placeholder: "Album", class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Search", class: "btn btn-success"%>
  </div>
<% end %>
