<div class="page-results">
  <div class="album-image">
    <img src=<%= @search.image %> />
  </div>

  <p class="text-white">
    <strong>Artist: </strong> <%= @search.artist %>
  </p>

  <p class="text-white">
    <strong>Album: </strong><%= @search.album %>
  </p>

  <p class="text-white">
    <strong>Score: </strong><%= @search.score %>
  </p>

  <div class="btn btn-success">
    <%= link_to 'Another Search', root_path, :class => "btn search btn-lg" %>
  </div>
</div>